/* 
RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
HEADER
*/

header {
    background-color: red;
    height: 50px;
}

/* 
MAIN
*/

main {
    background-color: rgb(25, 25, 25);
    height: calc(100vh - 130px);
    overflow-y: scroll;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
}

.cam{
    border-radius: 5px;
}

.cam-box {
    display: flex;
    height: auto;
    position: relative;
    margin: 5px;
}

.name {
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.313);
    color: white;
    padding: 5px 10px;
}


/* 
FOOTER
*/

footer {
    background-color: green;
    height: 80px;
}
